<h2>About Me</h2>
<p>Chocolate engineer by day, data scientist by later in the day.</p>

<h2>Projects</h2>
<ul>
  <li><a href="https://github.com/haobecca/DataScience">Data Science</a></li>
  <li><a href="https://github.com/haobecca/ScreencapCleaner">Screen Cap Cleaner Tool</a></li>
  <li><a href="https://github.com/haobecca/Nonogram">Nonogram</a></li>
</ul>

<p>For more information about this layout, visit <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/haobecca">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/haobecca/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">Layout author</a>
  </li>
</ul>
